@media only screen and (max-width: 900px){
    .heading h3{
        margin-top: 0rem;
    }
    .skill_bar p{
        font-size: smaller;
    }
    .skills_container{
        flex-direction: column-reverse;
    }
    .skills-con-right {
        width: 100%;
    }
    .skills-con-left {
        width: 100%;
    }
}
@media only screen and (min-width: 600px){
    .main span{
        display: none;
        color:#9ff4ff;
    }
}
@media only screen and (max-width: 600px) {
    li, a, button {
        font-size: small;
    }
    .main h3{
        font-size: smaller;
    }
    .main p{
        font-size: x-small;
    }
    .skill_detail .heading h3{
        margin-top: 5rem;
    }
    .skills-con-left{
        display: none;
    }
    .about_detail{
        justify-content: space-evenly;
    }
    .w80 {
        display: flex;
        flex-direction: column;
        font-size: small;
    }
    .col-5{
        flex: 0 50%;
        max-width: 100%;
    }
    .col-5 ul li{
        margin: 5px;
    }
    .home_detail{
        flex-direction: column;
        justify-content: center;
    }
    .image {
        width: 90%;
        margin: 30px auto;
    }
  }